.card {
    border: none;
    border-radius: 8px;
    background:  linear-gradient(to right, #A74CF2, #617BFB);
}
.Fitness-User-Info {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}
.Fitness-Card {
    max-height: 140px;
    max-width: 520px;
}
.Fitness-Card-Info {
    padding-left: 0;
    padding-right: 75px;
}
.Fitness-Card-Info h1{
    font-size: 23px;
    color: white;
}
.Fitness-Card-Info p{
    font-size: 11px;
    color: white;
}
.Fitness-Add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    height: 60px;
}
